.main {
  display: flex;
  font-family: sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
  width: 150px;
}
.cell,
.header {
  margin: 2px;
}

.header {
  font-size: 18px;
  font-weight: bold;
}
